<ion-header class="ion-padding-vertical ion-margin-bottom">
    <ion-title class="ion-text-center">
        Гостиница <b>Зобор</b>
    </ion-title>
</ion-header>

<ion-content>
    <ion-refresher #refresher (ionRefresh)="refresh(refresher)" slot="fixed"></ion-refresher>

    <ion-toolbar>
        <ion-label slot="start" class="ion-padding-start">
            {{ room.roomType | translateRoomType }}
        </ion-label>
        <ion-label slot="end" class="ion-padding-end">
            {{ room.cost }} руб/сутки
        </ion-label>
    </ion-toolbar>

    <form [formGroup]="reservationForm" class="ion-padding-top">
        <ion-item class="ion-text-center">
            <ion-select *ngIf="services.length"
                        formControlName="services"
                        multiple
                        placeholder="Дополнительные услуги"
                        style="max-width: 100%">
                <ion-select-option *ngFor="let service of services" [value]="service.id">
                    {{ service.name }}: {{ service.cost }} руб
                </ion-select-option>
            </ion-select>

            <ion-label *ngIf="!services.length">
                Нет дополнительных услуг
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-calendar formControlName="rentDates"
                          [options]="datePickerOptions"
                          type="moment"
                          format="DD MM YYYY">
            </ion-calendar>
        </ion-item>
    </form>

</ion-content>

<app-footer-buttons (cancelButtonClick)="back()"
                    (confirmButtonClick)="openConfirmWindow()"
                    confirmButtonName="Забронировать">
</app-footer-buttons>
