<ion-header>
    <ion-toolbar>
        <ion-button color="light" slot="start">
            <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
    </ion-toolbar>

    <ion-title class="ion-text-center">
        Гостиница <b>Зобор</b>
    </ion-title>
</ion-header>


<ion-content>
    <ion-refresher #refresher (ionRefresh)="refresh(refresher)" slot="fixed"></ion-refresher>

    <ion-toolbar>
        <ion-label slot="start">
            {{ room.roomType | translateRoomType }}
        </ion-label>
        <ion-label slot="end">
            {{ room.cost }} руб/сутки
        </ion-label>
    </ion-toolbar>

    <form [formGroup]="reservationForm">
        <ion-item>

        </ion-item>

        <ion-item lines="none">
            <ion-input formControlName="rentDate"
                       [liIonic4Datepicker]="datePickerConfig"
                       placeholder="Дата бронирования"
                       readonly>
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-calendar formControlName="rentDate"
                          [options]="datePickerOptions"
                          type="moment"
                          format="DD MM YYYY">
            </ion-calendar>
        </ion-item>
    </form>

</ion-content>
