<ion-content class="ion-padding-top">
    <form [formGroup]="passwordForm">
        <ion-item lines="none">
            <ion-label class="ion-text-center">Старый пароль</ion-label>
        </ion-item>

        <ion-item class="ion-padding-horizontal">
            <ion-input formControlName="oldPassword" type="password"></ion-input>
        </ion-item>

        <ion-item *ngIf="hasError('oldPassword', 'required')" lines="none">
            <ion-label class="error-message ion-text-center">Обязательное поле</ion-label>
        </ion-item>

        <ion-item class="ion-padding-top" lines="none">
            <ion-label class="ion-text-center">Новый пароль</ion-label>
        </ion-item>

        <ion-item class="ion-padding-horizontal">
            <ion-input formControlName="newPassword" type="password"></ion-input>
        </ion-item>

        <ion-item *ngIf="hasError('newPassword', 'required')" lines="none">
            <ion-label class="error-message ion-text-center">Обязательное поле</ion-label>
        </ion-item>

        <ion-item *ngIf="hasError('newPassword', 'minlength')" lines="none">
            <ion-label class="error-message ion-text-center">Не менее 6 символов</ion-label>
        </ion-item>

        <ion-item class="ion-padding-top" lines="none">
            <ion-label class="ion-text-center">Повторите новый пароль</ion-label>
        </ion-item>

        <ion-item class="ion-padding-horizontal">
            <ion-input formControlName="newPasswordReplica" type="password"></ion-input>
        </ion-item>

        <ion-item *ngIf="hasError('newPasswordReplica', 'required')" lines="none">
            <ion-label class="error-message ion-text-center">Обязательное поле</ion-label>
        </ion-item>

        <ion-item *ngIf="passwordsNotEqual" lines="none">
            <ion-label class="error-message ion-text-center">Пароли не совпадают</ion-label>
        </ion-item>
    </form>
</ion-content>

<app-footer-buttons (cancelButtonClick)="close()"
                    (confirmButtonClick)="updatePassword()"
                    confirmButtonName="Сохранить">
</app-footer-buttons>
