<ion-header>
    Авторизация
</ion-header>

<ion-content class="sign-in-content">
    <form [formGroup]="loginForm">
        <ion-item>
            <ion-input
                    type="text"
                    placeholder="Логин"
                    formControlName="login">
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-input
                    class="input"
                    type="password"
                    placeholder="Пароль"
                    formControlName="password">
            </ion-input>
        </ion-item>
    </form>
</ion-content>

<ion-footer>
    <ion-button
            (click)="submit()"
            class=""
            color="tertiary"
            expand="block">
        Войти
    </ion-button>
</ion-footer>
