<ion-header>
    Авторизация
</ion-header>

<ion-content class="sign-in-content">
    <form [formGroup]="loginForm">
        <ion-item>
            <ion-input type="text"
                       placeholder="Логин"
                       formControlName="login">
            </ion-input>
            <ion-label *ngIf="hasFormError('login')" class="error-message">
                Обязательное поле
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-input type="password"
                       placeholder="Пароль"
                       formControlName="password">
            </ion-input>
            <ion-label *ngIf="hasFormError('password')" class="error-message">
                Обязательное поле
            </ion-label>
        </ion-item>
    </form>

    <ion-toolbar class="ion-text-center">
        <ion-label [routerLink]="['sign-up']">
            Перейти к регистрации
        </ion-label>
    </ion-toolbar>

</ion-content>

<ion-footer>
    <ion-button (click)="submit()"
                color="tertiary"
                expand="block">
        Войти
    </ion-button>
</ion-footer>
