<ion-header>
    <ion-title class="ion-text-center">
        Фильтрация номеров
    </ion-title>
</ion-header>

<ion-content [formGroup]="form">
    <ion-toolbar>
        <ion-list>
            <ion-list-header>
                <ion-label>По количеству комнат</ion-label>
            </ion-list-header>
        </ion-list>

        <ion-select formControlName="roomTypes" multiple>
            <ion-select-option value="Single">Однокомнатный</ion-select-option>
            <ion-select-option value="Double">Двухкомнатный</ion-select-option>
            <ion-select-option value="Triple">Трехкомнатный</ion-select-option>
        </ion-select>
    </ion-toolbar>

    <ion-toolbar class="ion-text-center ion-margin-top">
        <ion-chip (click)="resetFilter()">
            Сбросить фильтры
        </ion-chip>
    </ion-toolbar>
</ion-content>

<app-footer-buttons (cancelButtonClick)="close()"
                    (confirmButtonClick)="applyFilterAndClose()"
                    confirmButtonName="Применить">
</app-footer-buttons>
