<app-title title="Фильтрация номеров"></app-title>

<ion-content [formGroup]="form">
    <ion-toolbar>
        <ion-list>
            <ion-list-header>
                <ion-label>По количеству комнат</ion-label>
            </ion-list-header>
        </ion-list>

        <ion-item>
            <ion-label> {{ 'Single' | translateRoomType }} </ion-label>
            <ion-checkbox formControlName="Single"></ion-checkbox>
        </ion-item>

        <ion-item>
            <ion-label> {{ 'Double' | translateRoomType }} </ion-label>
            <ion-checkbox formControlName="Double"></ion-checkbox>
        </ion-item>

        <ion-item>
            <ion-label> {{ 'Triple' | translateRoomType }} </ion-label>
            <ion-checkbox formControlName="Triple"></ion-checkbox>
        </ion-item>
    </ion-toolbar>

    <ion-toolbar class="ion-text-center ion-margin-top">
        <ion-chip (click)="resetFilter()">
            Сбросить фильтры
        </ion-chip>
    </ion-toolbar>
</ion-content>

<app-footer-buttons (cancelButtonClick)="close()"
                    (confirmButtonClick)="applyFilterAndClose()"
                    confirmButtonName="Применить">
</app-footer-buttons>
