<ion-header>
    <ion-title class="ion-text-center">
        Фильтрация комнат
    </ion-title>
</ion-header>

<ion-content [formGroup]="form">
    <ion-toolbar>
        <ion-list>
            <ion-list-header>
                <ion-label>Свободные/Занятые</ion-label>
            </ion-list-header>

            <ion-radio-group formControlName="isRented">
                <ion-item>
                    <ion-radio mode="ios" value="all"></ion-radio>
                    <ion-label>Все</ion-label>
                </ion-item>

                <ion-item>
                    <ion-radio mode="ios" value="onlyNotRented"></ion-radio>
                    <ion-label>Только свободные</ion-label>
                </ion-item>

                <ion-item>
                    <ion-radio mode="ios" value="onlyRented"></ion-radio>
                    <ion-label>Только занятые</ion-label>
                </ion-item>
            </ion-radio-group>
        </ion-list>
    </ion-toolbar>

    <ion-toolbar>
        <ion-list>
            <ion-list-header>
                <ion-label>По количеству комнат</ion-label>
            </ion-list-header>
        </ion-list>

        <ion-select formControlName="roomTypes" multiple placeholder="Укажите кол-во комнат">
            <ion-select-option value="Single">Однокомнатная</ion-select-option>
            <ion-select-option value="Double">Двухкомнатная</ion-select-option>
            <ion-select-option value="Triple">Трехкомнатная</ion-select-option>
        </ion-select>
    </ion-toolbar>

    <ion-toolbar class="ion-text-center ion-margin-top">
        <ion-chip (click)="resetFilter()">
            Сбросить фильтры
        </ion-chip>
    </ion-toolbar>
</ion-content>

<ion-footer class="ion-margin-bottom" no-border>
    <ion-button (click)="applyFilterAndClose()"
                class="ion-margin-bottom"
                color="tertiary"
                expand="block">
        Применить
    </ion-button>

    <ion-button (click)="close()"
                color="light"
                expand="block">
        Отменить
    </ion-button>
</ion-footer>
