<ion-content class="ion-padding-top-top">
    <form [formGroup]="namesForm" class="ion-padding-top">
        <ion-list class="ion-padding-top">
            <ion-item class="ion-margin-top" lines="none">
                <ion-title class="ion-text-center">
                    Имя
                </ion-title>
            </ion-item>

            <ion-item class="ion-padding-horizontal">
                <ion-input formControlName="firstName"></ion-input>
            </ion-item>

            <ion-item *ngIf="hasError('firstName')" lines="none">
                <ion-title class="error-message ion-text-center">
                    Обязательное поле
                </ion-title>
            </ion-item>
        </ion-list>

        <ion-list>
            <ion-item class="ion-margin-top" lines="none">
                <ion-title class="ion-text-center">
                    Фамилия
                </ion-title>
            </ion-item>

            <ion-item class="ion-padding-horizontal">
                <ion-input formControlName="lastName"></ion-input>
            </ion-item>

            <ion-item *ngIf="hasError('lastName')" lines="none">
                <ion-title class="error-message ion-text-center">
                    Обязательное поле
                </ion-title>
            </ion-item>
        </ion-list>
    </form>
</ion-content>

<app-footer-buttons (cancelButtonClick)="close()"
                    (confirmButtonClick)="updateNames()"
                    confirmButtonName="Сохранить">
</app-footer-buttons>
