<ion-header>
    <ion-toolbar>
        <ion-title class="ion-text-center">
            Создание номера
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">
    <form [formGroup]="roomForm">
        <ion-item lines="none">
            <ion-title class="ion-text-center">
                Тип номера по кол-ву комнат
            </ion-title>
        </ion-item>

        <ion-item class="ion-text-center">
            <ion-select cancel-text="Отмена"
                        formControlName="roomType"
                        interface="action-sheet"
                        style="max-width: 100% !important;">
                <ion-select-option value="Single">
                    Однокомнатный
                </ion-select-option>

                <ion-select-option value="Double">
                    Двухкомнатный
                </ion-select-option>

                <ion-select-option value="Triple">
                    Трехкомнатный
                </ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item class="ion-margin-top" lines="none">
            <ion-title class="ion-text-center">
                Укажите стоимость номера
            </ion-title>
        </ion-item>

        <ion-item class="ion-text-center">
            <ion-input formControlName="cost"
                       placeholder="Укажите стоимость"
                       type="number">
            </ion-input>
        </ion-item>
    </form>
</ion-content>

<app-footer-buttons (cancelButtonClick)="back()"
                    (confirmButtonClick)="createRoom()"
                    confirmButtonName="Создать номер">
</app-footer-buttons>
